$primary: #00ee4f;
$lightGrey: #4242429e;
$fadedGrey: #4242429e;

:root{
    --white: #f6f6f6;
    --primary: #00ee4f;
    --secondary: #61E135;
    --dark: #131217;
    --grey: #424242;
    --light-grey: #000000;
}

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
}

.light{
    color: var(--white);
}

.dark{
    color: var(--dark);
}

.grey{
    color: var(--grey);
}

.light-grey{
    color: var(--light-grey);
}

.bg-light{
    background-color: var(--white);
}

.bg-dark{
   background-color: var(--dark);
}

.bg-grey{
    background-color: var(--grey);
}

.bg-light-grey{
    background-color: var(--light-grey);
}

//scrollbar colors:

::-webkit-scrollbar-thumb {
  background: $fadedGrey; 
}

::-webkit-scrollbar-thumb:hover {
  background: $fadedGrey; 
}

a,
a:focus,
a:active,
a:visited{
    color: unset;
    text-decoration: none;
}

nav{
    color: white;
}

.nav-item.active{
    color: var(--primary);
}

b{
    color: $primary
}

nav div path,
nav div line,
nav div svg{
    stroke: currentColor;
    width: 25px;
}

nav div{
    color: var(--white);
}

nav div:hover{
    color: var(--primary);
}

button{
    border-color: var(--primary);
}

.btn{
    transition: all 0.25s ease-in-out;
}

.btn-outline-primary{
    border: 1px solid $primary;
    color: $primary;
    border-color: $primary;
    background-color: transparent;
}

.btn.active,
.btn-outline-primary:hover{
    cursor: pointer;
    color: white;
    border-color: $primary;
    background-color: var(--primary);
    transition: all 0.25s ease-in-out;
}

.tag:not(.active):hover {
    color: currentColor !important;
    background: transparent !important;
    background-color: transparent !important;
    border-color: currentColor !important;
}

.social a,
.social a:hover,
.social a:visited,
.social a:focus,
.social a:active
{
    color: var(--white)
}

.social i:hover{
    color: var(--primary)
}

input, textarea{
    background-color: transparent;
}