@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a, a:hover{
    text-decoration: none !important;
}

body{
    overflow: hidden;
}

/* Navbar */

nav{
    z-index: 99;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 5%;
    font-size: .8rem;
    
}

nav div{
    padding: 10px 5px;
    display: flex;
    position: relative;
    align-items: center;

    overflow: hidden;
    transition: all ease-in .2s;
}

nav span{
    width: 0;
    padding-left: 5px;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    transition: all ease-in .2s;
    /* font-family: 'Roboto Mono', monospace; */
}

nav:hover div
{
    width: auto;
    overflow: hidden;
    transition: all ease-in .2s;
}

nav:hover span
{
    width: 55px;
    overflow: hidden;
    transition: all ease-in .2s;
}


nav div:hover{
    cursor: pointer;
}

/* page */
.page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page.active{
    display: flex;
    z-index: 1;
    transition: opacity ease-in 0.6s;
}


/* offscreen page positions */

.offscreen{
    opacity: 0.1;
    transition: opacity ease-in 0.6s;
}

.offscreen.active{
    opacity: 1;
    transition: opacity ease-in 0.6s;
}
/* hero section bg */

.social{
    margin: 10px auto
}


.social i{
    font-size: 25px;
    margin: 0 5px;
    transition: color ease-in 0.55s;
}

.social i:hover{
   cursor: pointer;
   transition: color ease-in 0.3s;
}
#summary,
.bg-pattern{
    width: 40%
}

.bg-pattern svg{
    width: 400px;
    height: 550px;
}

.bg-pattern line{
    stroke-dasharray: 15px;
    stroke-dashoffset: 1px;
}
/* blog card styles */
.card .card-bg{
    transform: scale(1);
    transition: transform .4s;
}

.blog-card:hover .card-bg,
.card-header:hover{
    cursor: pointer;
}

.blog-card:hover .card-bg{
    transform: scale(1.2);
    transition: transform .4s;
}

.card-header h3,
.card-header small,
.card-header p,
.card-header div
{
    display: block;
    margin-bottom: 5px;
}

.card-header h3{
    margin-top: 5px;
}

.input-row{
    display: flex;
}

.input-row{
    margin: 0px 5px 5px 5px;
}

input, textarea, button{
    padding: 5px
}

button{
    font-size: 14px;
}

input, textarea{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 2px solid white;
    color: white
}

.input-row:focus {
    content: "";
    display:block;
    position: absolute;
    bottom: 0;
    width:15px;
    height: 15px;
    background-color: green
}

.content-right{
    justify-content: flex-end;
}