@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a, a:hover{
    text-decoration: none !important;
}

main{
    min-height: 95vh;
}

body{
    // overflow: hidden;
    background-color: var(--dark);
    color: white;
}

/* Navbar */

nav{
    z-index: 99;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 5%;
    font-size: .8rem;
    
}

nav div{
    padding: 10px 5px;
    display: flex;
    position: relative;
    align-items: center;

    overflow: hidden;
    transition: all ease-in .2s;
}

nav span{
    width: 0;
    padding-left: 5px;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    transition: all ease-in .2s;
    /* font-family: 'Roboto Mono', monospace; */
}

nav:hover div
{
    width: auto;
    overflow: hidden;
    transition: all ease-in .2s;
}

nav:hover span
{
    width: 55px;
    overflow: hidden;
    transition: all ease-in .2s;
}


nav div:hover{
    cursor: pointer;
}

/* page */
.page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    // flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page.active{
    display: flex;
    z-index: 1;
    transition: opacity ease-in 0.6s;
}


/* offscreen page positions */

.offscreen{
    // opacity: 0.1;
    transition: opacity ease-in 0.6s;
}

.offscreen.active{
    opacity: 1;
    transition: opacity ease-in 0.6s;
}
/* hero section bg */

.logo path{
    fill: none;
    stroke: white;
}

.social{
    margin: 10px auto
}


.social i{
    font-size: 25px;
    margin: 0 5px;
    transition: color ease-in 0.55s;
}

.social i:hover{
   cursor: pointer;
   transition: color ease-in 0.3s;
}
#summary,
.bg-pattern{
    width: 40%
}

.bg-pattern svg{
    width: 400px;
    height: 550px;
}

.bg-pattern line{
    stroke-dasharray: 15px;
    stroke-dashoffset: 1px;
}

//blog

.blog-wrapper{
    width: 70%;
    margin: 0 auto;
}

.article-preview{
    outline: 1px solid red;
}

article{
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    // font-family;
}
.article-body{
    font-size: 22px;
    margin: 15px auto;
}

.image-wrapper{
    width: 60%;
    margin: 20px auto;
}

.article-preview .image-wrapper{
    max-width: 50%;
    margin: 0 auto 10px 0;
}

.read-more{
    float: right;
    border: 1px solid white;
    padding: 5px;
}

.article-preview a{
    margin-left: auto;
    display: inline-block;
}
.card{ 
    width: 33.3%; 
    height: 100%; 
    padding: 0 15px 0 15px
}

.card:hover{
    cursor: pointer;
}

.card-header h3,
.card-header small,
.card-header p,
.card-header div
{
    display: block;
    margin-bottom: 5px;
}

.card-header h3{
    margin-top: 5px;
    font-size: 1.2rem;
}

.blog-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 300px;
}

.card article{
    width: 100%;
    margin: unset;
    padding: unset;
}

// contact form

.input-row{
    display: flex;
}

.input-row{
    margin: 0px 5px 5px 5px;
}

input, textarea, button{
    padding: 5px
}

button{
    font-size: 14px;
}

input, textarea{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 2px solid white;
    color: white
}

.input-row:focus {
    content: "";
    display:block;
    position: absolute;
    bottom: 0;
    width:15px;
    height: 15px;
    background-color: green
}

.content-right{
    justify-content: flex-end;
}

.logo path:nth-child(1){
    stroke-dasharray: 488px;
    stroke-dashoffset: 488px;
    animation: logo-anim 2s linear forwards 0.3s, fill-primary 2s ease forwards 2s, stroke-primary 2s ease forwards 2s;
}
.logo path:nth-child(2){
    stroke-dasharray: 488px;
    stroke-dashoffset: 488px;
    animation: logo-anim 2s linear forwards 0.3s, fill-secondary 2s ease forwards 2s, stroke-secondary 2s ease forwards 2s;
}
.logo path:nth-child(3){
    stroke-dasharray: 488px;
    stroke-dashoffset: 488px;
    animation: logo-anim 6s linear forwards 0.3s, fill-primary 2s ease forwards 2s, stroke-primary 2s ease forwards 2s;
}
.logo path:nth-child(4){
    stroke-dasharray: 488px;
    stroke-dashoffset: 488px;
    animation: logo-anim 6s ease forwards 0.3s, fill-primary 2s ease forwards 2s, stroke-primary 2s ease forwards 2s;
}

@keyframes logo-anim{
   to{
       stroke-dashoffset: 0;
   } 
}

@keyframes fill-primary{
    from{
        fill: transparent;
    }
    to{
        fill: #61E136;
    }
}

@keyframes fill-secondary{
    from{
        fill: transparent;
    }
    to{
        fill: #2CAD4A;
    }
}

@keyframes stroke-primary{
    to{
        stroke: #61E136; 
    }
}

@keyframes stroke-secondary{
    to{
        stroke: #247D3A; 
    }
}

@media only screen and (max-width: 580px){
    .page{
        flex-direction: column;
    }

    #summary,
    .bg-pattern{
        width: 100%;
        padding: 15px;
    }
    // .bg-pattern{
    //     order: 1;
    // }
    .card{ 
        width: 100%; 
        height: 100%; 
        padding: 0 15px 0 15px
    }

    .blog-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 300px 
    }

}